html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: sticky; /* Make navbar sticky */
    top: 52px; /* Stick to the top */
    z-index: 1000; /* Ensure it stays above other content */
    padding: 10px 20px;
    background-color: white;
    font-family: 'Germania One', system-ui;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 33px; /* Adjust size as needed */
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px; /* Adjust size as needed */
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 41px;
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none; /* Added to initially hide the menu */
    }

    .nav-links.nav-active {
        display: flex; /* Display the menu when active */
        transform: translateX(0%);
    }
    .nav-links.nav-active a {
        font-size: 40px;
    }
    .nav-links.nav-active li {
        height: 10%;
        margin: 5% 0;
    }

    .burger {
        display: block;
    }

    .burger.toggle div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle div:nth-child(2) {
        opacity: 0;
    }

    .burger.toggle div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* FOOTER */

footer {
    height: 70px;
    background-color: #213529;
    color: white;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure the text is centered if it wraps */
    font-size: 16px; /* Adjust font size as needed */
    margin-top: 20px; /* Optional: adds some space above the footer */
}

footer p {
    margin: 0; /* Remove default paragraph margins */
}

footer a, footer a:visited {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes underline from links */
}

footer a:hover {
    text-shadow:0px 0px 1px white;
}

/* BODY */
main {
    max-width: 80%;
    margin: 0px auto;
}
img {
    max-width: 100%;
}

/* Sticky Banner CSS */
.sticky-banner {
    position: sticky;
    top: 0;
    background-color: #213529; /* Example background color */
    color: white; /* Text color */
    padding: 1px 0;  /* Padding for spacing */
    text-align: center; /* Center the text */
    font-size: 16px; /* Adjust the font size as needed */
    height: 50px;
    z-index: 1001;
  }
  
  .sticky-banner a {
    color: #f6ca02; /* Gold color for the phone number link */
    text-decoration: none; /* Remove underline */
  }
  
  .sticky-banner a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
  }

  /*Compensate scroll*/
  section {
    scroll-margin-top: 127px; /* Adjust this value as needed */
  }

/*GALLERY / SLIDESHOW */
  /* MESSES UP MY SPACING BUT MIGHT NEED* {box-sizing: border-box;} */

  .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #f6ca02;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f6ca02;
}

.fancy_h {
    text-align: center; /* Centers the text */
    color: #fff; /* Sets text color to white */
    background-color: #213529; /* Dark green background */
    border: 2px solid #f6ca02; /* Solid border with a golden color */
    padding: 10px; /* Adds some space inside the border */
    margin: 10px auto; /* Adds some space outside the border, top and bottom */
}